/* CS465 Lab1 style file */

.header-images {
  display: flex;           /* arrange children in a row */
  justify-content: center; /* center images horizontally */
  gap: 20px;               /* space between images */
  margin-top: 20px;        /* space below the text */
}

.header-images img {
  width: 300px;   /* set the size of each image */
  height: auto;
  border-radius: 10px; /* optional: rounded corners */
}

.about-container {
  display: flex;              /* side-by-side layout */
  align-items: center;        /* vertically center the  with image */
  justify-content: center;    /* center the whole section horizontally */
  gap: 40px;                  /* space between image and stats */
  padding: 20px;
}

body {
  background-color: rgb(123, 175, 212);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.label {
  font-weight: bold;
  padding-right: 2px;
}

h1 {
  font-size: 3em;
}

h3, h2 {
  color: black;  /* changes header text color to white */
}

.hover-image {
  width: 300px;       /* set image size */
  height: 400px;
  overflow: hidden;   /* hide extra if needed */
}

.hover-image img {
  width: 100%;
  height: 100%;
  display: block;
  transition: opacity 0.5s ease-in-out; /* smooth fade */
}

/* hover effect */
.hover-image img:hover {
  content: url('../Images/funnydrake.jpg'); /* swap image on hover */
}